#main_div {
    border: 0px solid red;
    margin-bottom: 200px;
}
#nav2_div {
    border-bottom: 1px solid rgba(128, 128, 128, 0.544);

    width: 100%;
    margin: auto;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
#heading_div {
    width: 40%;
    border: 0px solid green;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
#btn_div {
    border: 0px solid blue;
    width: 30%;
}
#pagination {
    border: 0px solid red;
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
#pagination button {
    border: 0px solid black;
    margin: 10px;
    border-radius: 2px;
}
#totalItems {
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;
}
/* <-------for mobile screen--------- */

@media screen and (min-width: 280px) and (max-width: 420px) {
    #main_div {
        border: 0px solid red;
        margin-bottom: 200px;
    }

    #nav2_div {
        border-bottom: 1px solid rgba(128, 128, 128, 0.544);
        width: 100%;
        margin: auto;
        height: 70px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    #heading_div {
        width: 38%;
        border: 0px solid green;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        margin-right: 20px;
    }
    #pagination {
        border: 0px solid red;
        width: 80%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
    }
    #pagination button {
        border: 0px solid black;
        margin: 10px;
        border-radius: 2px;
    }
    #totalItems {
        padding: 10px;
        margin-top: 15px;
        font-weight: bold;
    }
}
/* <-------for tablet screen--------- */

@media screen and (min-width: 421px) and (max-width: 767px) {
    #main_div {
        border: 0px solid red;
        margin-bottom: 200px;
    }

    #nav2_div {
        border-bottom: 1px solid rgba(128, 128, 128, 0.544);
        width: 100%;
        margin: auto;
        height: 70px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    #heading_div {
        width: 30%;
        border: 0px solid green;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 20px;
    }
    #pagination {
        border: 0px solid red;
        width: 80%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
    }
    #pagination button {
        border: 0px solid black;
        margin: 10px;
        border-radius: 2px;
    }
    #totalItems {
        padding: 10px;
        margin-top: 15px;
        font-weight: bold;
    }
}

/* <-------for laptop screen--------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #main_div {
        border: 0px solid red;
        margin-bottom: 200px;
    }

    #nav2_div {
        border-bottom: 1px solid rgba(128, 128, 128, 0.544);
        width: 100%;
        margin: auto;
        height: 70px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    #heading_div {
        width: 25%;
        border: 0px solid green;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 30px;
    }
    #pagination {
        border: 0px solid red;
        width: 80%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
    }
    #pagination button {
        border: 0px solid black;
        margin: 10px;
        border-radius: 2px;
    }
    #totalItems {
        padding: 10px;
        margin-top: 15px;
        font-weight: bold;
    }
}
