/*

<---------------------manage ticket css--------------> */

/* *{
    background-color: white;
} */
#main_div {
    /* border: 1px solid red; */
    width: 80%;
    margin: 20px auto;
    /* margin-left: 20px; */
}
.table {
    border: 0.5px solid #ccc;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 10px; /* cellspacing */
    padding: 10px;
    margin: auto;
}
.table > thead > tr > th {
    border: 0.5px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}
.table > tbody > tr > td {
    border: 0.5px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

td,
th {
    padding: 10px; /* cellpadding */
    border: 0.5px solid #ccc;
}
